body{
  background: #678587;
  padding-top: 10px;
} 

a.one:link{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-decoration:none;
    /*paris*/

}
p1 a{
  color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
}
h2 a:link{
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 80px;
    /*howl*/
}

h3 a:link{
  color:white;
  font-family: 'Gravitas One', cursive;
  font-size: 80px;
  /*some*/
}

h4 a:link{
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;

}

h5 a:link{
  color:#E5B397;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
}

h6 a:link{
  color: #a45546;
  font-family: 'Playfair Display', serif;
  font-size: 80px;
}

h7 a:link{
  color:white;
  font-family: 'Rock Salt', cursive;
  font-size: 80px;
}

h8 a:link{
  color: #f9f1c4;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
}

h9 a:link{
  color: #982f2f;
  font-family: 'Old Standard TT', serif;
  font-size: 80px;
}

p{
  color: #E5B397; 
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type 4s steps(60, end); 
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color:#F37650;
  text-decoration: underline;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

ul{
  color: #E5B397; 
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

ul a{
  color:#E5B397;
}